.summary__container {
  height: 100%;
  width: 45%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.reverse {
  align-items: flex-start;
}

.summary {
  position: relative;
  height: 85%;
  width: 100%;
  background-color: #777777;
  z-index: 2;
  box-shadow: 0 30px 30px -15px black;
}

.summary__image {
  height: 100%;
  width: 100%;

  -webkit-filter: grayscale(75%);
  filter:         grayscale(75%);
}

.summary__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(30, 35, 44, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.battle__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15%;
  width: 95%;
  background-color: #1E232C;
}


.battle__stats span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 50;
  flex: 1;
  font-size: 12px;
  cursor: pointer;
  color: #777777;
}


.battle__stats span * {
  font-size: 14x;
  color: #777777;
  margin-bottom: 5px;
}


.stats__logo {
  font-size: 1.17em!important;
  background-color: #A6A6A6;
  color: #888888;
}


@media screen and (max-width: 683px) {
  .summary__container {
    height: 250px;
    width: 85%;
    flex-direction: row;
  }
  .reverse {
    flex-direction: row-reverse;
  }

  .summary {
    height: 100%;
    box-shadow: 20px 0 25px -15px black;
  }

  .reverse .summary {
    height: 100%;
    box-shadow: -20px 0 25px -15px black;
  }

  .battle__stats {
    width: 15%;
    flex-direction: column;
    height: 95%;
  }

}
