.battle__summary_section {
  display: flex;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.note {
  width: 85%;
  padding: 30px;
  font-size: 14px;
  color: #777777;
}

.goback {
  font-size: 24px!important;
  position: absolute;
  top: 0;
  left: 45px;
  cursor: pointer;
  z-index: 10;
  color: dodgerblue;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

.battle__location {
  margin-top: 1rem;
  color: #777777;
}

.battle__summary_wrapper {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.battle__title {
  height: 1.5em;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.battle__title > label {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .3;
  height: 100%;
  width: 100%;
  bottom: -50%;
  left: 0;
  z-index: 100;
  position: absolute;
}


@media screen and (max-width: 683px) {
  .battle__summary_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .battle__title > label {
    bottom: -30%;
  }

  .note { padding: 10px }
}

@media screen and (min-width: 751px) {
  .battle__summary_wrapper {
    height: calc(100vw / 2);
  }
}

@media screen and (min-width: 950px) {
  .battle__summary_wrapper {
    width: 950px;
    height: 475px;
  }
}
