@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

* {
  font-family: 'Merriweather', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: rgba(74, 81, 95, .6);
  font-family: 'Merriweather';
  font-weight: 700;
}
::-moz-placeholder {
  color: rgba(74, 81, 95, .6);
  font-family: 'Merriweather';
  font-weight: 700;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: rgba(105, 105, 105, .5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105);
}

input {
  outline: none;
  padding: 15px;
  border-radius: 6px;
  border: none;
  background-color: whitesmoke;
  color: black !important;
  font-size: large;
}

input:hover,
input:focus {
  box-shadow: 10px 10px 25px 15px rgba(0, 0, 0, .4);
}

.medium {
  font-size: 15px;
}

.smaller {
  font-size: 12px;
}

hr {
  border: 1px solid #6F6F6F;
}

.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

