.circle {
  fill: none;
  stroke-width: .15;
  stroke-linecap: round;
  animation: progress 1.5s ease-out forwards;
}

.img__overlay {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 175px;
}

.img__overlay img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(75%);
  filter:         grayscale(75%);
}

.img__overlay svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

